{% extends "data_exports/base.html" %}
{% load getter_tags %}

{% block body %}
<h1>{{ export }}</h1>

<table>
    <thead>
        <tr>
        {% for column in export.column_set.all %}
            <th>{% if column.label %}{{ column.label }}{% else %}{{ column }}{% endif %}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for obj in data %}
        <tr>
        {% for column in export.column_set.all %}
            <td>{{ obj|getattribute:column.column }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
